:root{
  font-family: 'IBM Plex Sans', sans-serif;
  --main-color: white;
  --light-color: rgb(255, 119, 101);
    --alt-color: white;
  --background-color:rgb(0,0,255);
}

html {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url('../../assets/g_grid.png');
}

.salta {
  font-family: 'IBM Plex Mono', monospace;
}

.wrapper {
  margin: 0 auto;
  padding: 1rem;
  max-width: 100ch;
  background-color: rgb(255,255,255,0.8);
}

header {
  text-align: justify;
}

header h1 {
  font-size: 3rem;
}

header h2 {
  font-size: 2rem;
}

main {
  font-size: 1.5rem;
}

main .image {
  display: block;
  margin: 3em auto;
  width: 70%;

  font-size: 1rem;
  font-style: italic;
}

main img {
  width: 100%;
  -webkit-box-shadow: 10px 10px 15px 5px rgba(220,220,220);
  -moz-box-shadow: 10px 10px 15px 5px rgba(220,220,220);
  box-shadow: 10px 10px 15px 5px rgba(220,220,220);
}

.marked {
  color: var(--light-color);
  font-weight: bold;
}

footer {
  font-size: 1.25rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  color: var(--main-color);
  background-color: var(--main-color);
  /* z-index: 200; */
  max-height: 100vh;
}

.stack > * + * {
  margin-top: 2rem;
}

.bar {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 7vh;
}

 .bar > * {
   padding: 0 1rem;
   flex: 1 0 auto;
 }

 .icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

 .icon > * {
  flex-grow: 1;
  flex-basis: 3em;
   
 }

 .icon img {
   filter: invert(100%);
 }

 .icon img:hover{
   filter: invert(100%) blur(3px);

 }

 #fixed {
   flex-basis: 20ch;
 }

.box {
  max-width: 40ch;
  min-width: 40ch;
  max-height: 40ch;
  background-color: var(--main-color);
  padding: 1rem;
  border: 1px solid var(--background-color);
  border-radius: 2%;
  color: var(--background-color);
  overflow-y: auto;

  -webkit-box-shadow: 10px 10px 15px 5px rgba(0,0,0,0.15);
  -moz-box-shadow: 10px 10px 15px 5px rgba(0,0,0,0.15);
  box-shadow: 10px 10px 15px 5px rgba(0,0,0,0.15);

}

.box img {
  width: 100%;
}

.cutout {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  overflow: hidden;
  max-height: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  filter: drop-shadow(10px 10px 5px rgba(0,0,0,0.25));
  
}

.hidden {
 visibility: hidden;
 opacity: 0;
}

.visible {
  visibility: visible;
  opacity: 1;
}

a:link {
  color: var(--alt-color);
  text-decoration: none;
}

a:visited {
  color: var(--alt-color);
  text-decoration: none;
}


a:hover {
  filter: blur(3px);
  font-style: italic;
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.sub {
  background: var(--light-color);
  margin-top: 1rem;
}

.sub > * {
  margin: 0 auto;
  padding: 1rem;
  max-width: 60ch;
  background-color: var(--background-color);
  color: var(--main-color);
}

.about {
  position: absolute;
  background-color: var(--light-color);
  visibility: hidden;
}

.contact {
  position: absolute;
  background-color: orange;
  visibility: hidden;
}