html{
    margin: 0;
    height: 100%;
    /* overflow: hidden; */
}

body{
    margin: 0;
    height: 100vh;
    background-color: #0f0;
    background-image: url("../assets/w_grid_3.png");
    background-size: 2cm;
    margin-top: 0;
   
}

.title{
    
    position: absolute;
    top: -5%;
    left: auto
}

:root {
    font-family: "IBM Plex Sans", sans-serif;
  }

.title p{
   font-size: 10vw;
   text-align: center;
   color:white;
   /* text-shadow: 5px 8px 12px wheat; */
   z-index: 1000;
}

.title span{
    -webkit-text-stroke: 4px white;
    -webkit-text-fill-color: transparent;
}

.title a{
font-size: 4vw;
   text-align: center;
   color:purple;
   /* text-shadow: 5px 8px 12px wheat; */
   z-index: 1000000;
   
}

.title span2{
    font-size: 6vw;
    font-style: italic;
}


  
   img{
       width: 10vw;
    filter: invert(100%);
  }
  
  img:hover {
    filter: invert(100%) blur(3px);
    /* filter: blur(3px); */
  }

  svg:hover {
    filter: invert(100%) blur(3px);
    /* filter: blur(3px); */
  }

  @media only screen and (max-width: 600px) {

html{
    /* margin: 0 2vw; */
}
.title p{
    font-size: 18vw
 }

    .title span{
        -webkit-text-stroke: 1px white;
        -webkit-text-fill-color: transparent;
    }

    img{
        width: 20vw;
    }
  }
