:root {
  font-family: "IBM Plex Sans", sans-serif;
  --main-color: white;
  --light-color: rgb(255, 119, 101);
  --alt-color: white;
  --background-color: rgb(0, 0, 255);
}

html {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--background-color);
  background-image: url("assets/w_grid_3.png");
}

#arena-info {
  margin: 0 0rem;
  color: var(--main-color);
  text-align: start;
  /* writing-mode: vertical-rl; */
}

main {
  flex-grow: 1;
  transition: flex 2s;
  transition: max-height 0s;
}

footer {
  font-size: 3rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  /* background-color: rgb(30,30,30); */
  /* z-index: 200; */
  max-height: 100vh;
}

.stack > * + * {
  margin-top: 1rem;
}

.bar {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 7vh;
}

.bar > * {
  padding: 0 1rem;
  flex: 1 0 auto;
  z-index: 200;
}

.icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.icon > * {
  flex-grow: 1;
  flex-basis: 3em;
}

.icon img {
  filter: invert(100%);
}

.icon img:hover {
  filter: invert(100%) blur(3px);
  /* filter: blur(3px); */
}

#fixed {
  flex-basis: 20ch;
}

input {
  background: none;
  border: none;
  text-decoration: underline;
  width: auto;
  color: var(--background-color);
}

.box {
  max-width: 40ch;
  min-width: 40ch;
  max-height: 40ch;
  background-color: var(--main-color);
  padding: 1rem;
  border: 1px solid var(--background-color);
  border-radius: 2%;
  color: var(--background-color);
  overflow-y: auto;
  opacity: 0.95;

  -webkit-box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.15);
}

.box img {
  width: 100%;
}

.cutout {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  overflow: hidden;
  max-height: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.25));
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.visible {
  visibility: visible;
  opacity: 1;
}

a:link {
  color: var(--alt-color);
  text-decoration: none;
}

a:visited {
  color: var(--alt-color);
  text-decoration: none;
}

a:hover {
  filter: blur(3px);
  font-style: italic;
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.sub {
  background: var(--light-color);
  margin-top: 1rem;
}

.sub > * {
  margin: 0 auto;
  padding: 1rem;
  max-width: 60ch;
  background-color: var(--background-color);
  color: var(--main-color);
}

.about {
  position: absolute;
  background-color: rgb(30, 30, 30);
  color: var(--main-color);
  visibility: hidden;
}

.contact {
  position: absolute;
  background-color: rgb(30, 30, 30);
  color: var(--main-color);
  visibility: hidden;
}

.box a {
  color: var(--background-color);
  /* text-decoration: wavy underline; */
}
