*{
  box-sizing: border-box;
}


body,
div,
header,
nav,
main,
footer,
p {
max-width: none;
}


html { 
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


:root {
  --ratio: 1.75;

  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));

  --s0: 1rem;

  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));

  --main-color: black ;
  --alt-color: white;

  --measure: 70ch;
  --border-thin: var(--s-5);

  font-family: 'Space Mono', monospace;
  font-weight: 450;
  font-size: var(--s1);

  overflow: scroll;
  -webkit-overflow-scrolling: touch;

}


.center {
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--measure);
}

::selection{
  color: var(--alt-color);
}

a:link {
  color: var(--alt-color);
  text-decoration: none;
}

a:visited {
  color: var(--alt-color);
  text-decoration: none;
}

a:hover {
  color: var(--main-color);
  text-decoration: none;
}

a:active {
  color: var(--main-color);
  text-decoration: none;
} 

.rave {
  font-size: 7vw;
  color:white;

}

#textv{
  writing-mode: vertical-rl;
  text-orientation: sideways;
}

#textsmall {
font-size: 0.5em;
}

span{
  background-color: black;
}

#textinv {
  color: black;
  background-color: white;
}

#meno{
  display: block;
  margin: -0.2em 0;
}